.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: all 0.3s;

    &__item {
        padding: 1.5rem;
        transition: all 0.3s;

        &:hover {
            background-color: rgba(#fff, 0.05);
            transform: translateY(-3px);
        }
    }

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        text-decoration: none;
        color: #fff;
        font-family: $font-display;
        text-transform: uppercase;
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    text-align: center;
}
