.sidebar {
    background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    @media only screen and (max-width: $bp-1000) {
        grid-column: 1 / -1;
        grid-row: 1 / span 1;

        background-image: none;
        background-color: $color-primary;

        align-items: start;
        justify-content: flex-end;
    }

    display: flex;
    align-items: start;
    justify-content: center;

    &__btn {
        border: none;
        border-radius: 0;

        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        margin-top: 3.5rem;

        @media only screen and (max-width: $bp-1000) {
            margin: 3rem 2rem 0 0;
        }

        &::before,
        &::after {
            content: "";
            background-color: #fff;
            height: 2px;
            width: 4.5rem;
            display: block;
        }

        &::before {
            transform: translateY(-1.2rem);
        }
        &::after {
            transform: translateY(1rem);
        }
    }
}
